<div class="wraper">
    <div class="tilak-logo"><img src="../../assets/images/tilak-logo.png" height="70"></div>
    <div class="container">
        <div class="login-container">

            <div class="login-block">
                <h2 class=" text-center mb-4">Login</h2>
                <form>
                    <div class="mb-4">
                        <input type="text" placeholder="Username" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check text-end">
                        <a routerLink="/forgot-password">Forgot Password?</a>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="button" class="btn btn-primary" (click)="goToReport()">Submit</button>
                    </div>
                    <!-- <p class="text-center mb-0">Don't have an account? <a href="">Register</a> now</p> -->
                </form>
            </div>
        </div>
    </div>
    <div class="imcs-logo text-end"><img src="../../assets/images/imcs-logo.png" height="70"></div>
</div>