<div class="wraper">
    <div class="tilak-logo"><img src="../../assets/images/tilak-logo.png" height="70"></div>
    <div class="container">
        <div class="login-container">

            <div class="login-block">
                <h2 class=" text-center mb-4">Reset Password</h2>
                <form>
                    <div class="mb-4">
                        <input type="type" placeholder="Enter your email address" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp" name="emailId">
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <p class="text-center mb-0">Back to <a routerLink="/login">login</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="imcs-logo text-end"><img src="../../assets/images/imcs-logo.png" height="70"></div>
</div>