/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~ngx-tabset/ngx-tabset";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

.theme-red .bs-datepicker-head{
    background-color: #8b0f60;
}

.theme-red .bs-datepicker-body table td span.selected{
    background-color: #8b0f60;
}
.bs-datepicker{
    box-shadow: none;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.form-control {
    min-height: 40px;
}

.nav-tabset:not(.disable-style) .nav-tab{
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

/*****/
.nav-tabset{
    margin-bottom: 0;
}

.nav-tabset:not(.disable-style) .nav-tab{
    background-color:  #bb065e;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.nav-tabset:not(.disable-style) .nav-tab.active,.nav-tabset:not(.disable-style) .nav-tab:hover {
    background-color: #690335;
    border-bottom:1px solid #bb065e;
}

.tabs-container{
    border:1px solid #bb065e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

ngx-intl-tel-input{
    display: block;
    width: 100%;
}

ngx-intl-tel-input .iti,.iti--allow-dropdown input{
    width: 100%;
}

ngx-intl-tel-input .iti{
    border-radius: 5px;
    padding: 0.4375rem 0.75rem;
    border: 0;
    outline: 1px solid #dee2e6;
    color: #c9c8c8;
    min-height: 40px;
}
.iti--allow-dropdown input{
    border: none;
}
